<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esd platform</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <button id="register">Register</button>
    <br>

    <button id="login">Login</button>
    <br>
    <h1>Esd platform.</h1>
    <h1>Host your own server with us. Esd.</h1>
    <h2>Select your option below:</h2>
    <button is="host-server">Host your server now!</button>
    <br>
    <button>If you own  your server, enter your server ID to see the server dashboard</button>
    <br>
</body>
</html>
